@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: none;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.containerContact {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 252, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #38383a;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}

.card-contact > h1 {
    color: rgb(55, 146, 34);
    font-weight: 800;
    margin: 0;

}

.texts {
    display: flex;
    flex-direction: column; /*inverte o aling-items e o justify-content*/
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.texts > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(193, 195, 197);
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; /*divi filho nao ultrapssa a divpai*/

}

.texts .messageText {
    padding: 40px 15px;
}


.texts > label {
    color: white;
    margin-bottom: 10px;
}

.btnEnviar {
width: 100%;
padding: 16px 0px;
margin: 25px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: black;
background-color: white;
cursor: pointer;
box-shadow: 0px 10px 40px -12px #00000056;
transition: blackground-color 0.8s;
}

.btn-enviar:hover {
    background-color: #424743;
    color: white;
}

