@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: none;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #F2F2F2;
}

* {
    font-size: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 32, 32);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 30px;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #331212;
}

.recommended-wines img{
    max-width: 200px; 
    max-height: 200px; 
    aspect-ratio: 16/9;
}

.section-carrossel{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.section-carrossel li {
    display: inline-block;
    margin: 10px;
}

/*CSS OF FORM CONTACT*/

.containerContact {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-contact {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #38383a;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}

.card-contact > h1 {
    color: rgb(134, 32, 32);
    font-weight: 800;
    margin: 0;

}

.texts {
    display: flex;
    flex-direction: column; /*inverte o aling-items e o justify-content*/
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.texts > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(134, 32, 32);
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box; /*divi filho nao ultrapssa a divpai*/

}

.texts .messageText {
    padding: 25px 15px;
}


.texts > label {
    color: white;
    margin-bottom: 10px;
}

.btnEnviar {
width: 100%;
padding: 16px 0px;
margin: 25px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: black;
background-color: white;
cursor: pointer;
box-shadow: 0px 10px 40px -12px #00000056;
transition: blackground-color 0.8s;
}

.btn-enviar:hover {
    background-color: #424743;
    color: white;
}

