* {
    font-size: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 32, 32);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 30px;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #331212;
}

.vinho h1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.descricao p {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.organizacao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.descricao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.imagem img{
    max-width: 400px; 
    max-height: 400px; 
    aspect-ratio: 16/9;
}

.carrinho{
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    background-color: rgb(109, 155, 63);
}

.carrinho:hover{
    background-color: rgb(12, 58, 12);
    color: rgb(137, 253, 137);
}
