@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-size: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #F2F2F2;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 32, 32);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    margin: 30px;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #331212;
}

.recommended-wines img{
    max-width: 200px; 
    max-height: 200px; 
    aspect-ratio: 16/9;
}

.section-carrossel{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.section-carrossel li {
    display: inline-block;
    margin: 10px;
}


header {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .image-header {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-header-vinho {
    width: 800px;
    height: auto;

}

.text-header {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center; 
}

.text-header h1 {
    margin: 170px 0 5px 0;
    font-size: 3rem;
    font-weight: 600;
}

.text-header h2 {
    font-size: 2rem;
    font-weight: 400;
}


.text-header button {
    margin-top: 200px;
    padding: 8px 28px;
    border-radius: 12px;
    font-size: 1.6rem;
    background-color: rgb(134, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0px 20px 20px -20px #00000056;
    outline: none;
    transition: blackground-color 5s;
}

.text-header button:hover {
    background-color: white;
    color: rgb(134, 32, 32);
}

.casal-vinho{
    width:1920px;
    height: 900px;
    display: flex;
}

.textNossaFilosofia{
    display:flex;
    flex-direction:column;
    text-align: center;
    background-color: rgba(201, 201, 201, 0.895);
    position: relative;
    font-size: 25px;
    
}

.suppliers{
    justify-content: start;
    align-items: center;
    text-align: center; 
}

.suppliers carousel{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center; 
}

.suppliers img{
    height: 150px;
    width: 150px;
}

.esquerda img{
    height: 30px;
    width: 30px;
}

.direita img{
    height: 30px;
    width: 30px;
}
